.navbar-custom {
  padding: 20px 0px;
  width: 100%;
  z-index: 999;
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
}
.navbar-custom .navbar-nav .nav-item .nav-link {
  line-height: 26px;
  color: rgba(52, 58, 64, 0.8);
  transition: all 0.4s;
  background-color: transparent !important;
  padding: 6px 10px;
  margin: 0 7px;
}
.navbar-custom .navbar-nav .nav-item .nav-link:hover,
.navbar-custom .navbar-nav .nav-item .nav-link:active {
  color: var(--primary);
}
.navbar-custom .navbar-nav .nav-item.active .nav-link {
  color: var(--primary);
}
.navbar-custom .navbar-btn {
  margin-left: 10px;
  color: #34d1bf;
  background: rgba(52, 209, 191, 0.2);
  border-color: transparent;
  box-shadow: none;
}
.navbar-custom .navbar-btn:hover {
  color: var(--bs-white);
  background: var(--info);
  border-color: var(--info);
}
/*--- navbar Light ---*/
.navbar-light .navbar-nav .nav-item .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-light .navbar-nav .nav-item .nav-link:hover,
.navbar-light .navbar-nav .nav-item .nav-link:active {
  color: var(--bs-white);
}
.navbar-light .navbar-nav .nav-item.active .nav-link {
  color: var(--bs-white);
}
.navbar-light .logo .logo-light {
  display: inline-block;
}
.navbar-light .logo .logo-dark {
  display: none;
}
.navbar-light .nav-sticky .logo .logo-dark {
  display: inline-block;
}
.navbar-light .nav-sticky .logo .logo-light {
  display: none;
}
/*--- navbar sticky ---*/
.nav-sticky.navbar-custom {
  margin-top: 0px;
  padding: 10px 0px;
  background-color: var(--bs-white);
  box-shadow: 0 10px 33px -14px rgba(0, 0, 0, 0.1);
}
.nav-sticky.navbar-custom .logo .logo-light {
  display: none;
}
.nav-sticky.navbar-custom .logo .logo-dark {
  display: inline-block;
}
.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link {
  color: rgba(52, 58, 64, 0.9);
}
.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:hover,
.nav-sticky.navbar-custom .navbar-nav .nav-item .nav-link:active {
  color: var(--primary);
}
.nav-sticky.navbar-custom .navbar-nav .nav-item.active .nav-link {
  color: var(--primary);
}
/******************
    Responsive
*******************/
@media (max-width: 991px) {
  .navbar-custom {
    margin-top: 0px;
    padding: 10px 0px !important;
    background-color: #f8fafe !important;
    box-shadow: 0 10px 33px -14px rgba(0, 0, 0, 0.1);
  }
  .navbar-custom.navbar-expand-lg > .container {
    width: 90%;
  }
  .navbar-custom .logo img {
    height: 40px;
    width: 50px;
  }
  .navbar-custom .navbar-nav .nav-item .nav-link {
    transition: all 0.4s;
    margin: 0px;
    padding: 6px 0px;
    color: rgba(52, 58, 64, 0.9);
  }
  .navbar-custom .navbar-nav .nav-item.active .nav-link {
    color: #2f55d4;
  }
  .navbar-custom .navbar-btn {
    margin-left: 0px;
  }
  .navbar-toggler {
    font-size: 24px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgba(52, 58, 64, 0.9);
  }
}
.nav-sticky.navbar-custom {
  margin-top: 0px !important;
  padding: 10px 0px !important;
  background-color: #ffffff !important;
  box-shadow: 0 10px 33px -14px rgba(0, 0, 0, 0.1) !important;
}
