.flip-container {
  background: transparent;
  perspective: 1000px;
  margin: 12px;
}
.flip-container p {
  color: var(--muted);
  font-size: small;
}
.card-flip {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.flip-container:hover .card-flip {
  transform: rotateY(180deg);
}
.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
  border: solid 2px #2f55d4;
  border-radius: 20px;
}
.front {
  background-color: #ffffff;
  color: #fff;
}
.back {
  background-color: #ffffff;
  filter: drop-shadow(16px 16px 20px rgb(183, 183, 183));
  transform: rotateY(180deg);
}
.content {
  margin: 12px;
}
.content::before {
  background-color: #ffffff;
}
